.history-item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.title-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.logo {
  display: flex;
  align-self: center;
}
button {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
h1 {
  font-size: 20px;
}
.title,
.domain {
  text-align: center;
}
